* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: blue;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 300px;
  border: red solid 1px;
}

.results {
  border: orange solid 1px;
}

.info {
  display: flex;
  gap: 5px;
}

.error {
  color: red;
}

.hide {
  color: transparent;
}
