* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
}

.title-image {
  margin-left: 25%;
}

.container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  /* border: blue 1px solid; */
}

#search {
  height: 30px;
  font-size: 30px;
}

.pokemon-info {
  /* border: orange solid 1px; */
  color: blue;
  display: flex;
}

.error {
  color: red;
}

.project-image {
  height: 300px;
  width: 300px;
  /* border: red solid 1px; */
}

.info {
  display: flex;
  gap: 5px;
}

.hide {
  color: transparent;
}
